.headerPricing::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #388da8;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}